@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  position: relative;
}

@font-face {
    font-family: "Minecraft Ten";
    src: url("/src/assets/fonts/MinecraftTen.ttf");
    font-weight: normal;
    font-style: normal;
}